body {
  background-color: #e7e2cf;
}

h1 {
  color: #7b2836;
  font-family: "Merriweather";
  font-weight: 900;
}
h2 {
  color: #7b2836;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: right;
}
.how-to-read {
  font-family: "Merriweather";
  font-size: large;
  text-decoration: underline ;
  margin-top: 5em;
}

.explain-box {
  color: #9d9687;
  font-family: "Playfair Display";
  /* font-family: "Neuton"; */
  font-size: small;
}

.row {
  width: 100%;
  max-height: 100vh;
  /* change the min-height to max-height: 100vh to stop the overflow */
  display: grid;
  /* change the ratios below to change column sizes */
  grid-template-columns: 0.5fr 0.3fr 2fr;
  grid-template-rows: auto;
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  /* grid-auto-rows: 400px; */
  grid-gap: 10px;
  /* align-items: center; */
  /* justify-items: right;  */
}



.left {
    /* width: 30%;     */
    border-left: 1px dashed #ccc;

}


.middle {
  /* width: 10%; */
  border-left: 1px dashed #ccc;

}

.right {
    /* width: 60%; */
    border-left: 1px dashed #ccc;

  }

#title {
  margin-left: 1%;
}
#legend-colour-slots {
  display: grid;
  grid-gap: 10px;
  /* align-items: center;  */
  justify-items: right; 
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */




}
.legend-colour-slot-add {
  fill: #8f9a5b;
}

.legend-colour-slot-mod {
  fill: #d4c491;
}

.legend-colour-slot-del {
  fill: #9e4343;
}


.const-text {
  font-size: 3px;
  text-align: center;
  padding-left: 3em;
  
}

.const-text-green {
  color: green;
}