* {
    box-sizing: border-box;
  }

body {
  background-color: #e7e2cf;
}

h1 {
  color: #7b2836;
  font-family: "Merriweather";
  font-weight: 900;
}

.row {
  width: 100%;
  min-height: 100vh;
  /* change the min-height to max-height: 100vh to stop the overflow */
  display: grid;
  /* change the ratios below to change column sizes */
  grid-template-columns: 0.5fr 0.3fr 2fr;
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  /* grid-auto-rows: 400px; */
  grid-gap: 5px;
  /* align-items: center;
  justify-items: right; */
}

/* .column {
  float: left;
}

.left {
    width: 30%;    
}


.middle {
  width: 10%;
}

.right {
    width: 60%;
  } */

#title {
  margin-left: 1%;
}

.legend-colour-slot-add {
  fill: #8f9a5b;
}

.legend-colour-slot-mod {
  fill: #d4c491;
}

.legend-colour-slot-del {
  fill: #9e4343;
}

.line {   
  /* position: absolute; */
  z-index: -1;
  /* top: 0; */
  /* bottom: 0; */
  /* left: 50%; */
  border-left: 1px dashed #ccc;
}