body {
  background-color: #e6e3cf;
}

h1 {
  color: #7b2836;
  font-family: "Merriweather";
  font-weight: 900;
}
h2 {
  color: #7b2836;
  font-family: "PT Sans";
  font-weight: normal;
  text-align: right;
}
.how-to-read {
  font-family: "Merriweather";
  font-size: large;
  text-decoration: underline ;
  margin-top: 2em;
  /* padding-bottom: 2em; */
}

.explain-box {
  color: #8e8a76;
  font-family: "Fira Sans";
  /* font-family: "Neuton"; */
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}

.row {
  width: 100%;
  max-height: 100vh;
  /* change the min-height to max-height: 100vh to stop the overflow */
  display: grid;
  /* change the ratios below to change column sizes */
  grid-template-columns: 1fr 0.5fr 3fr;
  grid-template-rows: auto;
  /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
  /* grid-auto-rows: 400px; */
  grid-gap: 10px;
  /* align-items: center; */
  /* justify-items: right;  */
}



.left {
    /* width: 30%;     */
    /* border-left: 1px dashed #ccc; */

}


.middle {
  /* width: 10%; */
  border-left: 1px dashed #ccc;

}

.right {
    /* width: 60%; */
    /* max-width: 50vh; */
    border-left: 1px dashed #ccc;

  }

#title {
  margin-left: 1%;
}
#legend-colour-slots {
  display: grid;
  /* grid-gap: 10px; */
  /* align-items: center;  */
  justify-items: right; 
  grid-template-columns: 2fr 0.5fr;
  grid-template-areas: "text1 image1"
  "text2 image2"
  "text3 image3"
  "text4 image4";
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  padding-bottom: 2em;
  align-items: center;
  /* justify-items: center; */



}

#text1 {
  grid-area: text1;
  /* margin-right: 0; */
  /* margin-bottom:0 ; */
  /* margin-left:  */
  color: #8e8a76;
  font-family: "Fira Sans";
  font-size: 12px;
  font-weight: 400;
}

#image1 {
  grid-area: image1;
  margin: auto;
  /* margin-bottom:0 ; */


  
}

#text2 {
  grid-area: text2;
  /* margin-right: 1em; */
  color: #8e8a76;
  font-family: "Fira Sans";
  font-size: 12px;
  font-weight: 400;
  /* margin-bottom:0 ; */




}

#image2 {
  grid-area: image2;
  margin: auto;
  /* margin-bottom:0 ; */
  


}

#text3 {
  grid-area: text3;
  /* margin-right: 0.1em; */
  color: #8e8a76;
  font-family: "Fira Sans";
  font-size: 12px;
  font-weight: 400;
  /* margin-bottom:0 ; */


  


}

#image3 {
  grid-area: image3;
  margin: auto;
  /* margin-bottom:0 ; */


}

#text4 {
  grid-area: text4;
  /* margin-right: 0.1em; */
  color: #8e8a76;
  font-family: "Fira Sans";
  font-size: 12px;
  font-weight: 400;
  /* margin-bottom:0 ; */


  


}

#image4 {
  grid-area: image4;
  margin: auto;
  /* margin-bottom:0 ; */
}


.legend-colour-slot-add {
  fill: #9cc28b;
}

.legend-colour-slot-mod {
  fill: #19184a;
}

.legend-colour-slot-del {
  fill: #9e4343;
}

.legend-colour-slot-prp {
  fill: #cebd50;
  ;
}

.const-text {
  font-size: 2.7px;
  text-align: center;
  padding-left: 3em;
  color: #8e8a76;

}

.const-text-green {
  color: green;
}