* {
  margin: 0;
  padding: 0;
}

ul,li { padding: 0; margin: 0; }
.linksassignment { width: 300px; font-size: 0; }
.linksassignment li { font-size: 12px; width: 100px; display: inline-block; }

body {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ddd;
  color: #333;
}

/* main {
  padding: 2rem;
} */

h1 {
  font-size: 2.5em;
  padding: 1em;
}

h2 {
  font-size: 1em;
  padding-left: 2.5em;

}


p {
  padding-left: 1em;
}

a {
  color: #2d59ec;
}
